
.informacao {
    margin-left: 20%;
    margin-top: -18.2%;
    border: solid #ffffff11;
}

.footer-sub-menu {
    height: 20%;
    width: 40%;
    color: #ffffff;
}

.logo1 {
    margin-left: 40%;
}

.contato-meios {
    margin-top: -1%;
    margin-left: 36%;
}

.contato-meios {
    margin-top: 2%;
}

.Copyright {
    color: #ffffff;
    margin-top: 1%;
}
.contato-redes {
    margin-left: 35%;
    margin-top: -4%;
}

.copy {
    margin-left: 30%;
}